.BlackFridayItemSaksText {
  margin: 18px 0px 60px;
}
.black__friday__item__vikaS {
  margin: 9px 0px 18px;
}
.black__friday__item__vikaS__text {
  margin: 9px 0px 18px;
}
.black__friday__item__levi {
  margin: 49px 0px 60px;
}
.black__friday__item__ogg {
  margin: 18px 0px 19px;
}
.black__friday__item__noBalance {
  margin: 9px 0px 109px;
}
.black__friday__subitems {
  margin-bottom: 40px;
  display: flex;
}
.delivery__services__from__the__UKInfo__button {
  max-width: 180px;
  height: 56px;
  background: #41B7E9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.delivery__services__from__the__UKinfo__item {
  max-width: 300px;
}
.delivery__services__from__the__UKInfo__text {
  height: 70px;
}
.delivery__services__from__the__UKinfo__item__save {
  margin-top: 10px;
}
.svipe {
  display: flex;
  flex-direction: column-reverse;
}
