.section__info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  height: 480px;
  margin: 0px 50px 115px ;
}
.section__info__img {
  padding: 39px 100px;
}
.section__info__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 763px;
}
.section__info__text {
  margin: 30px 0px 40px;
  max-width: 763px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.section__info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 66px;
  left: 737px;
  top: 2653px;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
