.delivery__services__from__the__UKInfo {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px 160px 100px;
}
.delivery__services__from__the__UKInfo img {
  margin-bottom: 44px;
}
.delivery__services__from__the__UKInfo__item {
  max-width: 300px;
}
.delivery__services__from__theUK__info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1F2428;
  margin-bottom: 7px;
}
.delivery__services__from__theUK__info__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #1F2428;
  margin-bottom: 22px;
}
.delivery__services__from__theUK__infoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 56px;
  background: #41B7E9;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}
.delivery__services__from__theUK__info__itemSave {
  height: 300px;
}
