.review1 {
  margin: 0px 50px 90px;
}
.review1__title {
  max-width: 834px;
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #1F2428;
}
.review1__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #1F2428;
  margin: 20px 0px 40px;
  max-width: 604px;
}
.review1__items {
  display: flex;
  justify-content: space-between;
}
.review1__item {
  background: #FFFFFF;
  box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
  border-radius: 16px;
  max-width: 440px;
}
.review1__item__img {
  margin: 52px 0px 30px 37px;
}
.review1__item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1F2428;
  margin: 0px 41px 10px 37px;
}
.review1__item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #1F2428;
  margin: 0px 47px 51px 37px;
}
