.okey__post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #1F2428;
}
.profit__text {
  margin: 130px 100px 30px;
  font-weight: 800;
  font-size: 44px;
  line-height: 50px;
  color: #1F2428;
}
