.HowToBuy {
  font-family: Poppins;
}
.howToBuy {
  margin: 0px 50px;
  max-width: 1800px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  padding: 45px 0px 0px 100px;
  padding-bottom: 22px;
}
.howToBuy a {
  color: #999999;
}
.howToBuy__navigation {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 29px;
}
.howToBuy__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}
.howToBuy__subTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.howToBuy__button {
  max-width: 260px;
  height: 66px;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 87px;
}
